# Terraform local state and backups
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# SSH Keys
lab-key
lab-key.pub
lab-key.pem
aws_key.txt
kaggle.json
kaggle_api.txt

# Environment Variables
.env
.env.local

# Benchmark outputs
__pycache__/
